*{
  margin: 0;
}
.App {
  text-align: center;
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
}
.nav{
  background: red;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}
.nav-btn{
  border: none;
  width: 100%;
  background: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.nav-btn:hover{
  background: rgb(94, 2, 2);
}
.homeSlides img{
  width: 80%;
  height: 300px;
  margin-bottom: 30px;
}

.homeSlides button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.homeSlides p{
  padding: 20px;
}